<div class="page-title">
  <h2>Rockpaperaweso.me</h2>
  <div style="display: none; visibility: hidden">
    User: <span id="User" ><%= @conn.params["user"] %></span>
  </div>
</div>

<div class="display">
  <div id="gameId">
     [Game ID]
  </div>
  <div id="output">
    [Output]
  </div>
  <div id="move">
    [Move]
  </div>
</div>

<div id="game">
  <button id="input-rock">Rock</button>
  <button id="input-paper">Paper</button>
  <button id="input-scissors">Scissors</button>
</div>
