#controls {
  position: absolute;
  // left: 0;
  bottom: 0;
  // float: none;
  // clear: both;
  // width: 100%;

  #controlsWrap {
    font-size: 60px;
    width: 100%
    // text-align: center;
  }
}