#controls 
  position: absolute
  bottom: 30px
  width: 100%
  left: 0
  float: none
  clear: both

  #controlsWrap
    font-size: 40px
    display: flex
    justify-content: center

    div
      display: flex
      flex-direction: column
      align-items: center
      margin-right: 50px

      .fa 
        margin: 0 .25em

        &.controlHighlight
          margin-bottom: 20px

        &.highlight-off
          visibility: hidden

        &.player-control
          color: #696969

        &:hover:not(.locked) 
          transition: color 0.2s ease-out
          // color: #9b9b9b
          color: #525151
        

        &.locked:not(.chosen) 
          //color: #9e6262
          color: #525151
      
    

    .chosen 
      // color: #0a70ff
      color: #9b9b9b
    
  
