#throws {
  font-size: 60px;

  .player {
    color: #0a70ff;
    float: left;
  }

  .opponent {
    color: #f6cd46;
    float: right;
  }

  // safari and chrome
  @keyframes player-wiggle {
    0% { -webkit-transform: rotate(86deg)}

    16% { -webkit-transform: rotate(94deg)}

    33% { -webkit-transform: rotate(86deg)}

    48% { -webkit-transform: rotate(94deg)}

    66% { -webkit-transform: rotate(86deg)}

    80% { -webkit-transform: rotate(94deg)}

    100% { -webkit-transform: rotate(86deg)}
  }

  .player-wiggle {
    animation: player-wiggle 1s 1
  }
}