$mobile: 320px
$tablet: 768px
$desktop: 1224px

#throws 

  @media (min-width: $mobile) and (orientation: landscape)
    margin-left: 20px
    margin-right: 20px
    font-size: 40px

  @media (min-width: $mobile) and (orientation: portrait)
    font-size: 40px

  @media (min-width: $tablet) and (orientation: landscape)
    font-size: 80px

  @media (min-width: $tablet) and (orientation: portrait)
    font-size: 80px

  @media (min-width: $desktop)
    font-size: 90px

  .player 
    color: #0a70ff
    float: left

  .opponent 
    color: #f6cd46
    float: right

  @keyframes player-wiggle
      $transform-mid: rotate(90deg)
      $transform-up: translateY(-35px) rotate(75deg) 
      $transform-down: translateY(5px) rotate(100deg)

      0%
        transform: $transform-mid
      33%
        transform: $transform-up
      66%
        transform: $transform-down
      100%
        transform: $transform-mid

  @keyframes opponent-wiggle
    $mid: translateY(0px) scale(-1, 1) rotate(90deg)
    $up: translateY(-35px) scale(-1, 1) rotate(75deg)
    $down: translateY(5px) scale(-1, 1) rotate(100deg)

    0%
      transform: $mid
    33%
      transform: $up
    66%
      transform: $down
    100%
      transform: $mid

  .player-wiggle 
    animation: 0.45s 4 normal ease-in player-wiggle 
  
  .opponent-wiggle
    animation: 0.45s 4 normal ease-in opponent-wiggle